<launch>
<node pkg="SyncTemplate" type="master.py" name="master_node" output="screen">
	<param name="~slave1" type="string" value="example_computer_1"/>
	<param name="~slave2" type="string" value="example_computer_2"/>
	<param name="~slave3" type="string" value="example_computer_3"/>
	<param name="~slave4" type="string" value="example_computer_4"/>
	<param name="~slave5" type="string" value="example_computer_5"/>
	<param name="~slave6" type="string" value="example_computer_6"/>
	<param name="~slave7" type="string" value="example_computer_7"/>
	<param name="~slave8" type="string" value="example_computer_8"/>
	<param name="~slave9" type="string" value="example_computer_9"/>
	<param name="~slave10" type="string" value="example_computer_10"/>
	<param name="~slave11" type="string" value="example_computer_11"/>
</node>

<group ns="example_computer_1">
	<node pkg="SyncTemplate" type="slave.py" name="slave">
		<param name="~ident" type="string" value="example_computer_1"/>
		<param name="~incoming1" type="string" value="example_computer_2"/>
	</node>
</group>

<group ns="example_computer_2">
	<node pkg="SyncTemplate" type="slave.py" name="slave">
		<param name="~ident" type="string" value="example_computer_2"/>
		<param name="~incoming1" type="string" value="example_computer_1"/>
	</node>
</group>

<group ns="example_computer_3">
	<node pkg="SyncTemplate" type="slave.py" name="slave">
		<param name="~ident" type="string" value="example_computer_3"/>
		<param name="~incoming1" type="string" value="example_computer_1"/>
	</node>
</group>

<group ns="example_computer_4">
	<node pkg="SyncTemplate" type="slave.py" name="slave">
		<param name="~ident" type="string" value="example_computer_4"/>
		<param name="~incoming1" type="string" value="example_computer_1"/>
	</node>
</group>

<group ns="example_computer_5">
	<node pkg="SyncTemplate" type="slave.py" name="slave">
		<param name="~ident" type="string" value="example_computer_5"/>
		<param name="~incoming1" type="string" value="example_computer_1"/>
	</node>
</group>

<group ns="example_computer_6">
	<node pkg="SyncTemplate" type="slave.py" name="slave">
		<param name="~ident" type="string" value="example_computer_6"/>
		<param name="~incoming1" type="string" value="example_computer_1"/>
	</node>
</group>

<group ns="example_computer_7">
	<node pkg="SyncTemplate" type="slave.py" name="slave">
		<param name="~ident" type="string" value="example_computer_7"/>
		<param name="~incoming1" type="string" value="example_computer_1"/>
	</node>
</group>

<group ns="example_computer_8">
	<node pkg="SyncTemplate" type="slave.py" name="slave">
		<param name="~ident" type="string" value="example_computer_8"/>
		<param name="~incoming1" type="string" value="example_computer_1"/>
	</node>
</group>

<group ns="example_computer_9">
	<node pkg="SyncTemplate" type="slave.py" name="slave">
		<param name="~ident" type="string" value="example_computer_9"/>
		<param name="~incoming1" type="string" value="example_computer_1"/>
	</node>
</group>

<group ns="example_computer_10">
	<node pkg="SyncTemplate" type="slave.py" name="slave">
		<param name="~ident" type="string" value="example_computer_10"/>
		<param name="~incoming1" type="string" value="example_computer_1"/>
	</node>
</group>

<group ns="example_computer_11">
	<node pkg="SyncTemplate" type="slave.py" name="slave">
		<param name="~ident" type="string" value="example_computer_11"/>
		<param name="~incoming1" type="string" value="example_computer_1"/>
	</node>
</group>

</launch>
